*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

.logo img{
height: 100px;
width:100px;
padding:120px 200px;
padding-bottom: 0px;
padding-top: 200px;

}
.word{
    height: 50px;
    width: 200px;
padding-left: 200px;
    font-size: 20px;
    color: azure;
    
}
.login{
    margin: 200px;
    padding: 10px;
    width: 200px;
    background-color: azure;
    border-radius: 50px;
    font-weight: 900;
    font-size: larger;
    cursor: pointer;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to right,blue,aqua);
}
.page{
    background-color: azure;
    width: 500px;
    height: 400px;
    margin-top: 20px;
   margin-right: 20px;
   padding: 90px;
   border-radius: 200px 10px  10px 200px ;
   font-weight: 300;
  
}
.head{
    height: 40px;
    width:200px;
}
.select{
    height: 25px;
    width:200px;
}
.btn{
    width: 200px;
    height: 50px;
    float: right;
    margin: 200px;
    background-color: rgb(22, 22, 122);
    border-radius: 50px;
    color: azure;
cursor: pointer;
}